.wrapper{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    height: 100vh;
}
.title{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    border-bottom: 5px solid black;

}
.subtitle{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
}
.input{
    height: 46px;
    font-weight: 300;
    font-size: 20px;
    outline: none;
    border: 2px solid #404040;
    border-radius: 6px;
    text-align: center;

}